.container {
  max-width: 46rem;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1.75rem);
}

.searchContainer input {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;

  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 1rem;
}

.searchContainer input::placeholder {
  color: var(--gray-300);
}

.searchContainer button {
  background: var(--blue-500);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-100);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.searchContainer button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createdTasks {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.createdTasks strong {
  color: var(--blue-300);
  font-size: 0.875rem;
}

.createdTasks span {
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  font-size: 0.75rem;
  color: var(--gray-200);
  font-weight: bold;
}

.completedTasks {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.completedTasks strong {
  color: var(--purple-400);
  font-size: 0.875rem;
}

.completedTasks span {
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  font-size: 0.75rem;
  color: var(--gray-200);
  font-weight: bold;
}